localhost:80 {
	# compress stream
	gzip
	# access log file
	log logs/access.log
	# errors log file
	errors logs/errors.log
	
	# our root is in www/
	root public/
	# allow to list directories files
	browse
	# redirect .php files
        fastcgi / /run/php-fpm/php-fpm.sock php
}
