localhost:81 {
	# compress stream
	gzip

	# access and errors log file
	log logs/access.log
	errors logs/errors.log

	# folder served by Caddy
	root public/

	# allow to list directories files
	browse

	# redirect .php files
	# you might access php-fpm through a port
	# fastcgi / 127.0.0.1:9000 php
    fastcgi / /run/php-fpm/php-fpm.sock php

	# rewrite everything to /index.php
	# the bullet framework needs the original URL to be given in the 'u'
	# parameter of the GET request
	rewrite / {
		regexp (.*)
		to /index.php?u={1}&{query}
	}
}
